* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --charleston-green: #212832;
  --jelly-bean: #df6951;
  --space-cadet: #181e4b;
  --dark-electric-blue: #5e6282;
  --orange-web: #f1a501;
  --yankees-blue: #14183e;
  --blue-sapphire: #006380;
  --medium-purple: #8a79df;
  --roman-silver: #84829a;
  --manatee: #9ca0b0;
  --iris: #4152ca;
  --gray: #F5F5F5;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.text-primary {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 64.5px;
  color: var(--yankees-blue);
}
.text-secondary {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--dark-electric-blue);
}
.text-muted {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--dark-electric-blue);
}
.custom {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--dark-electric-blue);
}
.main-text {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 19px;
  color: var(--yankees-blue);
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  padding: 47px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container nav input {
  appearance: none;
}
header .container nav label img {
  cursor: pointer;
}
@media (max-width: 991px) {
  header .container nav {
    position: relative;
  }
  header .container nav ul {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--white);
  }
  header .container nav ul li{
    border-bottom: 1px solid var(--charleston-green);
    padding: 10px 15px;
  }
  header .container nav input:checked + ul {
    display: block;
  }
}
header .container nav ul li {
  list-style: none;
}
@media (min-width: 992px) {
  header .container nav ul {
    display: flex;
    align-items: center;
  }
  header .container nav ul li {
    padding: 0 20px;
  }
  header .container nav label
   , header .container nav input {
    display: none;
  }
}
header .container nav ul li a {
  font-family: "Open Sans", serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21.62px;
  color: var(--black);
}
header .container nav ul li .sign-up {
  border: 1px solid var(--charleston-green);
  border-radius: 5px;
  padding: 4px 10px;
}
header .container nav ul li select {
  border: none;
  background-color: transparent;
  outline: none;
}
.hero .container {
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .hero .container .information {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .hero .container .image {
    display: none;
  }
}
.hero .container .information .message {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--jelly-bean);

}
.hero .container .information h1 {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 65px;
  letter-spacing: -4%;
  color: var(--space-cadet);
  margin: 20px 0;
}
.hero .container .information h1 .enjoy {
  position: relative;
}
.hero .container .information h1 .enjoy::after {
  position: absolute;
  content: "";
  bottom: 15px;
  left: -40px;
  z-index: -1;
  background-image: url(../images/Decore.png);
  height: 10px;
  width: calc(100% + 90px);
}
.hero .container .information .option {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 25px;
}
.hero .container .information .option .find-out {
  font-family: "Open Sans", serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--orange-web);
  color: var(--white);
  padding: 15px;
}
.hero .container .information .option .demo {
  display: flex;
  align-items: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--dark-electric-blue);
}
.hero .container .information .option .demo img {
  background-color: var(--jelly-bean);
  padding: 18px;
  border-radius: 50px;
  margin-right: 15px;
}
.hero .container .image .blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.category{
  position: relative;
  padding: 100px 0;
}
.category .container .text-muted 
,.category .container .text-primary {
  display: block;
  text-align: center;
}
.category .container .category-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  text-align: center;
}
.category .container .category-items .item  {
  padding: 20px;
}
.category .container .category-items .item h3 {
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
  color: var(--yankees-blue);
  margin: 10px 0;
}
.category .container .category-items .item:nth-child(2) {
 position: relative;
 background-color: var(--white);
 border-radius: 36px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, .06);
}
.category .container .category-items .item:nth-child(2)::after {
  position: absolute;
  content: "";
  bottom: -35px;
  left: -30px;
  background-image: url(../images/Rectangle\ 157.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  z-index: -1;
}
.category .container .category-items .plus {
  position: absolute;
  top: 90px;
  right: 0;
}
@media (max-width: 991px) {
  .category .container .category-items .plus {
    display: none;
  }
}
.top-selling {
  padding-bottom: 100px;
}
.top-selling .container .text-muted 
,.top-selling .container .text-primary {
  display: block;
  text-align: center;
}
.top-selling .container .category-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 50px;
  gap: 30px;
  text-align: center;
}
.top-selling .container .category-items .item {
  display: flex;
  flex-direction: column;
}
.top-selling .container .category-items .item .item-image img {
 display: block;
 width: 100%;
 height: 300px;
}
.top-selling .container .category-items .item .item-text {
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .03);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 97%;
  margin: 0 auto;
  padding: 25px;
}
.top-selling .container .category-items .item .item-text .info {
  display: flex;
  justify-content: space-between;
}
.top-selling .container .category-items .item .item-text p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.easy-and-fast .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 991px) {
  .easy-and-fast .container {
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
}
.easy-and-fast .container .info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.easy-and-fast .container .details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.easy-and-fast .container .details .icon1{
  background-color: var(--orange-web);
  padding: 10px ;
  border-radius: 13px;
}
.easy-and-fast .container .details .icon2{
  background-color: var(--jelly-bean);
  padding: 10px ;
  border-radius: 13px;
}
.easy-and-fast .container .details .icon3{
  background-color: var(--blue-sapphire);
  padding: 10px ;
  border-radius: 13px;
}
.easy-and-fast .container .details .text h3{
  font-weight: 700;
}
.easy-and-fast .container .image {
  position: relative;
}
.easy-and-fast .container .image .main-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .06);
  border-radius: 26px;
  padding: 25px;
}
.easy-and-fast .container .image .main-card .icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.easy-and-fast .container .image .main-card .icons span {
 background-color: var(--gray);
 padding: 10px;
 border-radius: 50px;
}
.easy-and-fast .container .image .mini-card {
  position: absolute;
  bottom: 60px;
  right: -60px;
  display: flex;
  gap: 20px;
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .06);
  border-radius: 26px;
  width: 250px;
  padding: 10px;
}
.easy-and-fast .container .image .mini-card .image img {
  border-radius: 50px;
}
.easy-and-fast .container .image .mini-card .info {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.easy-and-fast .container .image .mini-card .info p span {
  color: var(--medium-purple);
}
.easy-and-fast .container .image .mini-card .info .progress-bar {
  height: 5px;
  background-color: var(--gray);
}
.easy-and-fast .container .image .mini-card .info .progress {
  height: 5px;
  background-color: var(--medium-purple);
  width: 40%;
}












